<header>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="/images/logoBranco.png" alt="Logo AlunoPlus" width="50%">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Página Inicial</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<main class="container-fluid">
  <div class="row justify-content-center mainCompleta">
    <div class="col-9 col-md-5 align-self-center">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Cadastro de Aluno</h5>
          <form action="/users/cadastroAluno" method="post">
          <div class="form-floating mb-3">
              <input type="text" class="form-control" name="nome" id="nome" placeholder="">
              <label for="nome">Nome</label>
            </div>
            <div class="form-floating mb-3">
              <input type="email" class="form-control" name="email" id="email" placeholder="">
              <label for="email">Email</label>
            </div>
            <div class="form-floating mb-3">
              <input type="password" class="form-control" name="senha" id="senha" placeholder="">
              <label for="senha">Senha</label>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" name="cpf" id="cpf" placeholder="">
              <label for="cpf">CPF</label>
            </div>
            <div class="form-floating mb-3">
              <input type="date" class="form-control" name="dataNascimento" id="dataNascimento">
              <label for="dataNascimento">Data de Nascimento</label>
            </div>
            <button type="submit" class="btn btn-primary" id="entrar">Cadastrar</button>
          </form>
        </div>
      </div>
    </div>

  </div>
</main>